*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background: url('../images/BG.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

img {
  display: block;
  width: 280px;
  height: auto;
  object-fit: cover;
}

main {
  width: 100%;
  height: 100vh;
}

article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

figure {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: 100%;
  padding: 20px;
  background: rgba(21, 18, 11, 0.8);
  backdrop-filter: blur(15px);
}

h1,
h2 {
  font-weight: 400;
}

h1 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
}

h2 {
  margin-bottom: 15px;
  font-size: 16px;
  color: rgb(228, 228, 228);
}

h2 strong {
  font-weight: 500;
}

.controls {
  display: flex;
  align-items: center;
}

.controls > div {
  flex-shrink: 0;
}

.audio-controls {
  margin-right: 20px;
}

.controls button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.controls button:hover svg {
  fill: rgb(163, 163, 163);
}

.controls svg {
  display: block;
  fill: #fff;
  transition: all 0.15s ease-in;
}

.progress-wrapper {
  flex-grow: 1;
  margin-right: 20px;

  display: flex;
  align-items: center;
}

.progress-bar {
  margin: 0 15px;
  width: 100%;
  height: 3px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.progress-filled {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgb(109, 109, 109);
}

.duration,
.current-time {
  color: #fff;
  font-size: 14px;
  flex-grow: 0;
}
